<h2 id="<%= uid %>"><%= type %></h2>
<% if description -%>

<%= description %>
<% end -%>

| Name | Type | Description |
|------|------|-------------|
<% attributes.each do |attribute| -%>
<%= render :attribute, attribute -%>
<% end -%>
